/*design styling*/
:root {
    --gray-background: #F5F5F5;
    --dark-background: #252525;
}

body {
    font-family: "Circular Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    line-height: 1.5;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

p {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.title {
    font-size: 1.4rem;
}

.gray {
    background-color: var(--gray-background);
}

.black {
    background-color: var(--dark-background);
    color: #fff;
}

.regular {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

/*container logic*/
html {
    box-sizing: border-box;
    font-size: 100%;
}

html, body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*split containers logic*/
.split-sections {
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: calc(100vw * 0.6) calc(100vw * (1 - 0.6));
    grid-gap: 0;
}

.split-section {
    display: grid;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.split-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.split-section:nth-child(1n) {
    justify-items: end;
}

.split-section:nth-child(2n) {
    justify-items: start;
}

@media (min-width: 768px) {
    .split-sections {
        grid-template-columns: calc(((100vw - 750px) / 2) + (750px * 0.6)) calc(((100vw - 750px) / 2) + (750px * (1 - 0.6)));
    }

    .split-section:nth-child(1n) .split-container {
        width: calc(750px * 0.6);
    }

    .split-section:nth-child(2n) .split-container {
        width: calc(750px * (1 - 0.6));
    }
}
@media (min-width: 992px) {
    .split-sections {
        grid-template-columns: calc(((100vw - 970px) / 2) + (970px * 0.6)) calc(((100vw - 970px) / 2) + (970px * (1 - 0.6)));
    }

    .split-section:nth-child(1n) .split-container {
        width: calc(970px * 0.6);
    }

    .split-section:nth-child(2n) .split-container {
        width: calc(970px * (1 - 0.6));
    }
}
@media (min-width: 1200px) {
    .split-sections {
        grid-template-columns: calc(((100vw - 1170px) / 2) + (1170px * 0.6)) calc(((100vw - 1170px) / 2) + (1170px * (1 - 0.6)));
    }

    .split-section:nth-child(1n) .split-container {
        width: calc(1170px * 0.6);
    }

    .split-section:nth-child(2n) .split-container {
        width: calc(1170px * (1 - 0.6));
    }
}
