/*design styling*/
:root {
  --gray-background: #F5F5F5;
  --dark-background: #252525;
}

body {
  font-family: "Circular Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  line-height: 1.5;
  font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 1.4rem;
}

.gray {
  background-color: var(--gray-background);
}

.black {
  background-color: var(--dark-background);
  color: #fff;
}

.regular {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

/*container logic*/
$size-xs: 480px;
$size-sm-container: 750px;
$size-sm: 768px;
$size-md-container: 970px;
$size-md: 992px;
$size-lg-container: 1170px;
$size-lg: 1200px;
$gutter: 1rem;

html {
  box-sizing: border-box;
  font-size: 100%;
}

html, body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $size-sm) {
  .container {
    width: $size-sm-container;
  }
}

@media (min-width: $size-md) {
  .container {
    width: $size-md-container;
  }
}

@media (min-width: $size-lg) {
  .container {
    width: $size-lg-container;
  }
}

/*split containers logic*/
$first-fraction: 3/5;
.split-sections {
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: calc(100vw * #{$first-fraction}) calc(100vw * (1 - #{$first-fraction}));
  grid-gap: 0;
}

.split-section {
  display: grid;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.split-container {
  padding-left: $gutter;
  padding-right: $gutter;
}

.split-section:nth-child(1n) {
  justify-items: end;
}

.split-section:nth-child(2n) {
  justify-items: start;
}

@media (min-width: $size-sm) {
  .split-sections {
    grid-template-columns: calc(((100vw - #{$size-sm-container}) / 2) + (#{$size-sm-container} * #{$first-fraction})) calc(((100vw - #{$size-sm-container}) / 2) + (#{$size-sm-container} * (1 - #{$first-fraction})));
  }
  .split-section:nth-child(1n) {
    .split-container {
      width: calc(#{$size-sm-container} * #{$first-fraction});
    }
  }
  .split-section:nth-child(2n) {
    .split-container {
      width: calc(#{$size-sm-container} * (1 - #{$first-fraction}));
    }
  }
}

@media (min-width: $size-md) {
  .split-sections {
    grid-template-columns: calc(((100vw - #{$size-md-container}) / 2) + (#{$size-md-container} * #{$first-fraction})) calc(((100vw - #{$size-md-container}) / 2) + (#{$size-md-container} * (1 - #{$first-fraction})));
  }
  .split-section:nth-child(1n) {
    .split-container {
      width: calc(#{$size-md-container} * #{$first-fraction});
    }
  }
  .split-section:nth-child(2n) {
    .split-container {
      width: calc(#{$size-md-container} * (1 - #{$first-fraction}));
    }
  }
}

@media (min-width: $size-lg) {
  .split-sections {
    grid-template-columns: calc(((100vw - #{$size-lg-container}) / 2) + (#{$size-lg-container} * #{$first-fraction})) calc(((100vw - #{$size-lg-container}) / 2) + (#{$size-lg-container} * (1 - #{$first-fraction})));
  }
  .split-section:nth-child(1n) {
    .split-container {
      width: calc(#{$size-lg-container} * #{$first-fraction});
    }
  }
  .split-section:nth-child(2n) {
    .split-container {
      width: calc(#{$size-lg-container} * (1 - #{$first-fraction}));
    }
  }
}
